*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', monospace;

}
html {
  scroll-behavior: smooth;
}

.App {
  color: #ededed;
  /*background: #081b29;*/
  background: url(space_background.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.App-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: rgba(19, 58, 117, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.href {
  transition: .3s;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.navbar a{
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover{
  color: #4C7097;
}

.navbar i:hover{
  color: #4C7097;
  transition: .2s;
}

.navbar i{
  padding-left: 8px;
  font-size: 20px;
}
nav li .bx-menu{
  margin-top: 10px;
}

nav li{
  display: inline-block;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 15px;
}

nav li a{
  text-decoration: none;
  display: inline-block;
}
li{
  list-style: none;
}

.drop-menu{
  padding-top:25px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 58, 117, 0.3);
  padding-bottom: 15px;
  padding-right: 10px;
}

.drop-menu a{
  display: block;
  padding-top: 6px;
  font-size: 18px;
}

.drop:hover .drop-menu{
  display: block;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(background.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3{
  font-size: 32px;
  font-weight: 700;
}
/*
.home-content h3:nth-of-type(4){
  margin-bottom: 30px;
}
*/
.home-content h3 span{
  color: #5c88b8;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 03px 0;
}

.home-content p{
  font-size: 20px;
}

.home-sci a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #4C7097;
  border-radius: 50%;
  font-size: 20px;
  color: #4C7097;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background-color: #4C7097;
  color: #081b29;
  box-shadow: 0 0 20px #4C7097;
}
.about {
  padding-top: 16%;
  padding-bottom: 16%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img{
  margin-bottom: 70%;
  max-width: 320px;
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 8px;
}
.about-text h2{
  font-size: 60px;
}
.about-text h2 span{
  color: #4C7097;
}
.about-text h4{
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-right: 10px;
}
.about-text h3{
  line-height: 1.7;
  font-size: 20px;
}
.about-text li{
  font-size: 20px;
  
}
.about-img img{
  margin-left: 250px;
  height: 300px;

}
.general-about {
  padding-top: 16%;
  padding-bottom: 16%;

}
.general-text h2{
  font-size: 60px;
  padding-left: 30px;
}
.general-text h4{
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 25px 0 30px;
  padding-left: 45px;
}
.general-text p{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  padding-right: 10px;
  padding-left: 50px;
}

.general-img img {
  max-width: 43%;
  height: 50%;
  margin-top: 2%;
  margin-left: 250px;
  border-radius: 8px;
}